@import "../../styles/varuables.scss";
.container {
	display: grid;
	grid-template-columns: 1fr 4fr;
	gap: 60px;
	padding: 150px 0 200px;
	div {
		position: relative;
	}
	h2 {
		position: sticky;
		top: 10%;
		left: 0;
		line-height: 1;
		&::first-letter {
			text-transform: uppercase;
		}
	}
	@media screen and (max-width: $md) {
		grid-template-columns: 1fr;
	}
}

.accordion {
	&__item {
		padding: 20px;
		&:nth-child(odd) {
			border-top: 2px solid $primary;
			border-bottom: 2px solid $primary;
		}
		&:last-child {
			border-bottom: 2px solid $primary;
		}

		& > div {
			display: flex;
			justify-content: space-between;
			gap: 30px;
			cursor: pointer;
			h4 {
				font-size: 24px;
				font-weight: 500;
				font-family: $font_titles;
				color: $terti;
				transition: 0.5s;
				&:focus {
					color: $primary;
				}
				@media screen and (max-width: $sm) {
					font-size: 20px;
				}
			}
			.colorTerti {
				color: $terti;
			}
			.colorPrimary {
				color: $primary;
			}
			span {
				width: 24px;
				height: 24px;
				display: grid;
				place-items: center;
				font-size: 24px;
				transition: 0.7s;
				color: $terti;
			}
			.toTop {
				transform: rotate(0deg);
				color: $primary;
			}
			.toDown {
				transform: rotate(180deg);
				color: $terti;
			}
		}
		p {
			margin-top: 10px;
			font-size: 20px;
			color: $light;
			font-family: $font_texts;
			@media screen and (max-width: $sm) {
				font-size: 16px;
			}
		}
	}
}
