.btn {
  width: 100%;
  height: 100%;
  padding: 10px 20px;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  box-shadow: 0 -1px 0 0 #bbe4ea, 0 1px 0 0 #bbe4ea;
}

.primary {
  background: transparent;
}
.secondary {
  background: rgba(187, 228, 234, 0.2);
}
