@import "../../styles/varuables.scss";
.vacanciesCardBG {
	overflow: hidden;
	.vacanciesCard {
		width: 100%;
		// padding-top: 200px;
		display: grid;
		align-items: flex-start;
		justify-content: space-between;
		grid-template-columns: repeat(3, 1fr);
		gap: 80px 2%;
		@media (max-width: $lg) {
			grid-template-columns: repeat(2, 1fr);
			padding-top: 150px;
		}
		@media (max-width: $sm) {
			padding-top: 50px;
			grid-template-columns: repeat(1, 1fr);
			gap: 30px;
		}
		&_card {
			width: 400px;
			height: 300px;
			cursor: pointer;
			@media (max-width: $sm) {
				width: 100%;
				height: 250px;
			}
			button {
				width: 100%;
			}
			&Items {
				cursor: pointer;
				width: 100%;
				height: 100%;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: flex-start;
				gap: 20px;
				padding: 50px 10px 0;
				overflow: hidden;
				@media (max-width: $sm) {
					padding: 30px 10px 0;
				}
				// align-self: flex-start;
				// justify-self: flex-start;
			}
			h3 {
				cursor: pointer;
			}
			img {
				cursor: pointer;
				@media (max-width: $sm) {
					width: 60px;
					height: 60px;
				}
			}
			p {
				cursor: pointer;
				font-size: 20px;
				width: 100%;
				@media (max-width: $sm) {
					font-size: 18px;
				}
			}
			span {
				cursor: pointer;
			}
		}
	}
}
