@import "../../styles/varuables.scss";

.wrapper {
	padding: 150px 0 100px;
	.cards {
		margin-top: 50px;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		align-items: center;
		gap: 30px;

		@media screen and (max-width: 650px) {
			grid-template-columns: repeat(2, 1fr);
		}
		@media screen and (max-width: 500px) {
			grid-template-columns: repeat(1, minmax(200px, 350px));
			align-items: center;
			justify-content: center;
		}
	}
	button {
		padding: 40px 0;
		@media screen and (max-width: $md) {
			padding: 30px 0;
		}
		div {
			h2 {
				font-size: 48px;
				font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
				font-weight: 700;
				sup {
					font-size: 30px;
				}
			}
			p {
				font-size: 20px;
				font-family: $font_texts;
				margin: 10px 0;
			}
			@media screen and (max-width: $xl) {
				h2 {
					font-size: 36px;
					sup {
						font-size: 20px;
					}
				}
				p {
					font-size: 18px;
				}
			}
			@media screen and (max-width: $md) {
				h2 {
					font-size: 30px;
					sup {
						font-size: 18px;
					}
				}
			}
		}
	}
}
