@import "./varuables.scss";
* {
	padding: 0;
	margin: 0;
	color: inherit;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}
a:hover {
	// color: $primary;
}
body {
	overflow-x: hidden;
	margin: 0 auto;
	font-family: sans-serif;
	background: $bg;
	// background-image: linear-gradient(to top, #161415da, #161415da),
	// 	url("../../public/images/Noise\ &\ Texture.png");
	// background-size: cover;
	color: $light;
}
::-webkit-scrollbar {
	width: 8px;
	height: 0px;
}
::-webkit-scrollbar-button {
	display: none;
}
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 7px $primary;
	background: #000;
}
::-webkit-scrollbar-thumb {
	width: 5px;
	background: $primary;
	border-radius: 5px !important;
	box-shadow: 0 0 10px #000;
}
h2 {
	font-weight: 600;
	font-size: 60px;
	font-family: $font_titles;
	letter-spacing: 2px;
	@media (max-width: $xs) {
		font-weight: 500;
		font-size: 27px;
	}
	@media (min-width: $xs) {
		font-weight: 500;
		font-size: 30px;
		letter-spacing: 0.5px;
	}
	@media (min-width: $sm) {
		font-weight: 500;
		font-size: 35px;
		letter-spacing: 1px;
	}
	@media (min-width: $md) {
		font-weight: 500;
		font-size: 40px;
	}
	@media (min-width: $lg) {
		font-weight: 500;
		font-size: 50px;
	}
	@media (min-width: $xl) {
		font-weight: 600;
		font-size: 60px;
	}
	@media (min-width: $xxl) {
		font-weight: 600;
		font-size: 70px;
	}
	@media (min-width: $xxxl) {
		font-weight: 600;
		font-size: 90px;
	}
}
h3 {
	color: $terti;
	font-weight: 600;
	font-size: 30px;
	font-family: $font_titles;
	letter-spacing: 1.5px;
	@media (max-width: $xs) {
		font-weight: 500;
		font-size: 18px;
		line-height: 18px;
	}
	@media (min-width: $xs) {
		font-weight: 500;
		font-size: 20px;
		line-height: 20px;
		letter-spacing: 0.5px;
	}
	@media (min-width: $sm) {
		font-weight: 500;
		font-size: 22px;
		line-height: 22px;
		letter-spacing: 1px;
	}
	@media (min-width: $md) {
		font-weight: 500;
		font-size: 25px;
		line-height: 25px;
	}
	@media (min-width: $lg) {
		font-weight: 500;
		font-size: 30px;
		line-height: 30px;
	}
	@media (min-width: $xl) {
		font-weight: 500;
		font-size: 35px;
		line-height: 35px;
	}
	@media (min-width: $xxl) {
		font-weight: 600;
		font-size: 40px;
		line-height: 40px;
	}
	@media (min-width: $xxxl) {
		font-weight: 600;
		font-size: 50px;
		line-height: 50px;
	}
}
p {
	font-family: $font_texts;
}

.container {
	width: 100%;
	padding: 0 10%;
	margin: 0 auto;

	@media (min-width: $xs) {
		padding: 0 2%;
	}
	@media (min-width: $sm) {
		padding: 0 2.5%;
	}
	@media (min-width: $md) {
		padding: 0 5%;
	}
	@media (min-width: $lg) {
		padding: 0 7%;
	}
	@media (min-width: $xl) {
		padding: 0 9%;
	}
	@media (min-width: $xxl) {
		padding: 0 12%;
	}
	@media (min-width: $xxxl) {
		padding: 0 15%;
	}
}

@media (max-width: $xl) {
	.container {
		padding: 0 5%;
		overflow: hidden;
	}
}
@media (max-width: $md) {
	.mobileNav {
		display: block;
	}
}
