@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cousine:wght@400;700&family=Russo+One&display=swap");
// responsive widths
$xs: 375px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1201px;
$xxl: 1920px;
$xxxl: 3000px;
// font-family
$font_titles: "Russo One", sans-serif;
$font_texts: "Cousine", monospace;
$font_emoji: emoji;
$font_btn: "Inter", sans-serif;
// colors
$primary: #665ec7;
$mainColor: #08a3a3;
$terti: #bbe4ea;
$bg: #5a15a6;
$dark: #000;
$light: #fff;
$reddish: #e54555;
$denger: #ff0000;
$grey: #8b8b8b;
// border-radius
$br_r_10: 10px;
$br_r_5: 5px;
$br_r_0: 0;
// width-elements
$w_100: 100%;
$w_90: 90%;
$w_50: 50%;
