@import "../../styles/varuables.scss";
.Attractions {
	height: 500vh;
	position: relative;
	@media (max-width: $md) {
		height: 550vh;
	}
	.attractions {
		width: 100%;
		padding: 100px 0;
		position: sticky;
		top: 0;
		left: 0;
		@media (min-width: $xxl) {
			top: 20%;
		}
		@media (max-width: $md) {
			// padding: 200px 0 100px;
			position: sticky;
			top: 100px !important;
		}
		h2 {
			@media (min-width: $xxl) {
				margin-bottom: 100px;
			}
			@media (max-width: $md) {
				margin-bottom: 50px;
			}
		}
		&_cards {
			height: 500px;
			position: relative;
			width: 100%;
			overflow: hidden;
			@media (min-width: $xs) {
				padding: 40px 2%;
				height: 350px;
			}
			@media (min-width: $sm) {
				padding: 40px 2.5%;
				height: 360px;
			}
			@media (min-width: $md) {
				padding: 40px 5%;
				height: 370px;
			}
			@media (min-width: $lg) {
				padding: 40px 7%;
				height: 400px;
			}
			@media (min-width: $xl) {
				padding: 40px 9%;
			}
			@media (min-width: $xxl) {
				padding: 40px 12%;
			}
			@media (min-width: $xxxl) {
				padding: 40px 15%;
			}
			&Els {
				display: grid;
				grid-template-columns: repeat(3, 580px);
				align-items: flex-start;
				gap: 20px;
				padding-left: 38vw;
				position: absolute;
				top: 30px;
				left: 0px;
				@media (max-width: $sm) {
					grid-template-columns: repeat(3, 319px);
					padding-left: 100vw;
				}
			}
		}
		&_lineBottom {
			width: 100%;
			height: 5px;
			background: $primary;
			border-radius: 10px;
			position: relative;
			overflow: hidden;
			@media (min-width: $xxl) {
				margin-top: 100px;
			}
			span {
				position: absolute;
				top: 0;
				left: -95%;
				background: $light;
				border-radius: 10px;
				width: 100px;
				height: 5px;
				box-shadow: 0 0 5px #ffffff;
			}
		}
	}
	.active {
		// position: fixed;
		top: 0;
		left: 0;
	}
}
