@import "../../styles/varuables.scss";
.Attractions {
	height: 300vh;
	position: relative;
	@media (max-width: $md) {
		height: auto;
	}
	.attractions {
		width: 100%;
		padding: 100px 0;
		position: sticky;
		top: 0;
		left: 0;
		@media (min-width: $xxl) {
			top: 20%;
		}
		@media (max-width: $md) {
			padding: 70px 0 100px;
			position: relative;
			left: 0 !important;
			// top: 100px !important;
		}
		h2 {
			margin: 0;
			@media (min-width: $xxl) {
				margin-bottom: 100px;
			}
			@media (max-width: $md) {
				margin-bottom: 0px;
			}
		}
		&_cards {
			height: 500px;
			position: relative;
			width: 100%;
			overflow: hidden;
			&::-webkit-scrollbar {
				width: 0;
				height: 0;
			}
			@media (max-width: $xs) {
				overflow-x: scroll !important;
				padding: 40px 4%;
				height: 350px;
			}
			@media (min-width: $xs) {
				overflow-x: scroll !important;
				padding: 40px 4%;
				height: 350px;
			}
			@media (min-width: $sm) {
				overflow: scroll !important;
				padding: 40px 4%;
				height: 360px;
			}
			@media (min-width: $md) {
				overflow: scroll !important;
				padding: 40px 5%;
				height: 370px;
			}
			@media (min-width: $lg) {
				padding: 40px 7%;
				height: 400px;
			}
			@media (min-width: $xl) {
				padding: 40px 9%;
				height: 500px;
			}
			@media (min-width: $xxl) {
				padding: 40px 12%;
			}
			@media (min-width: $xxxl) {
				padding: 40px 15%;
			}
			&Els {
				display: grid;
				grid-template-columns: repeat(4, 580px);
				align-items: flex-start;
				gap: 20px;
				padding: 0 0 0 90vw;
				position: absolute;
				top: 30px;
				left: 0px;
				@media (max-width: $lg) {
					width: 100%;
					position: relative;
					padding-left: 0;
					left: 0 !important;
				}
				@media (max-width: $sm) {
					grid-template-columns: repeat(4, 300px);
					gap: 10px;
				}
			}
		}
		&_lineBottom {
			width: 100%;
			height: 5px;
			background: $primary;
			border-radius: 10px;
			position: relative;
			overflow: hidden;
			margin-top: 20px;

			@media (min-width: $xxl) {
				margin-top: 100px;
			}
			span {
				position: absolute;
				top: 0;
				left: -140%;
				background: $light;
				border-radius: 10px;
				width: 100px;
				height: 5px;
				box-shadow: 0 0 5px #ffffff;
			}
		}
	}
	.active {
		// position: fixed;
		top: 0;
		left: 0;
	}
}
