@import "../../styles/varuables.scss";
.wrapper {
	width: 100%;
	position: relative;
	// overflow-x: hidden;

	@media (max-width: $md) {
		display: none;
	}
}
.content {
	width: 100%;
	margin-bottom: 120px;
	display: flex;
	// grid-template-columns: repeat(2, minmax(300px, 500px));
	justify-content: space-between;
	gap: 40px;
	//

	&:nth-last-child(2) {
		margin-bottom: 0;
	}
	&__images {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
		gap: 70px;
		width: 43%;
		position: sticky;
		top: 27%;
		left: 0;
		height: 300px;
		background: $primary;
		border-radius: 7px;
		&_div {
			position: absolute;
			top: 0%;
			left: 0;
			width: 100%;
		}
		.activeImg {
			width: 80%;
			top: 10%;
			left: 0;
			opacity: 1;
		}
		img {
			transition: 0.8s;
			width: 50%;
			height: 100%;
			object-fit: cover;
			opacity: 0;
		}
	}
	.texts {
		width: 40%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
		gap: 180px;
	}
	&__text {
		margin-left: -10%;
		.lightTitle {
			color: $terti;
		}
		.light {
			color: $light;
		}
		h3 {
			color: $primary;
			margin-bottom: 20px;
			transition: 0.7s;
		}
		p {
			color: $primary;
			font-size: 25px;
			font-weight: 400;
			line-height: 1.2;
			letter-spacing: 1px;
			transition: 0.7s;
			@media (max-width: $lg) {
				font-size: 20px;
			}
		}
		.bottomLine {
			width: 10%;
			height: 1px;
		}
	}
}

.scroller {
	overflow: hidden;
	width: 4px;
	height: calc(100% - 30px);
	height: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: $primary;
	border-radius: 10px;
	span {
		position: absolute;
		top: -90%;
		width: 100%;
		height: 33%;
		background-color: #f9f9f9;
		border-radius: 10px;
		box-shadow: 0 0 5px #ffffff;
	}
}

.carousel {
	display: none;
	@media (max-width: $md) {
		display: block;
	}
	.card {
		display: flex;
		flex-direction: column;
		gap: 35px;
		align-items: center;
		text-align: center;
		line-height: 1.2;
		button > div {
			padding: 30px;
			@media (max-width: $sm) {
				padding: 20px;
			}
		}
		h3 {
			font-size: 30px;
			@media (max-width: $sm) {
				font-size: 24px;
			}
			@media (max-width: $xs) {
				font-size: 20px;
			}
		}
		p {
			font-size: 24px;
			@media (max-width: $sm) {
				font-size: 18px;
			}
			@media (max-width: $xs) {
				font-size: 16px;
			}
		}
	}
	& > div > div {
		padding-bottom: 100px;
		& > div:not(:nth-child(1)) {
			top: calc(100% - 30px);
			left: 50%;
			color: $primary;
			&:hover,
			&:active {
				&::after {
					border-color: $terti;
				}
			}
			&::after {
				content: "";
				aspect-ratio: 1 / 1;
				width: 25px;
				height: 25px;
				border: 5px solid $primary;
				border-bottom: none;
				border-right: none;
			}
		}
		& > div:nth-child(2) {
			transform: translateX(calc(-50% - 50px));
			&::after {
				transform: rotate(-45deg);
			}
		}
		& > div:nth-child(3) {
			transform: translateX(calc(-50% + 50px));
			&::after {
				transform: rotate(135deg);
			}
		}
	}
}
