@import "../../styles/varuables.scss";

.wrapper {
  overflow-x: hidden;
  width: 100%;
  padding: 150px 0;
  position: relative;
  z-index: 2;
  clip-path: polygon(
    0% 100%,
    0% 100%,
    0% 12%,
    25% 12%,
    30% 0%,
    100% 0%,
    100% 88%,
    75% 88%,
    70% 100%
  );
  video {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    object-fit: cover;
  }
  @media screen and (max-width: $md) {
    clip-path: polygon(
      0% 100%,
      0% 100%,
      0% 8%,
      20% 8%,
      25% 0%,
      100% 0%,
      100% 92%,
      75% 92%,
      70% 100%
    );
  }

  p {
    max-width: 540px;
    margin: 35px 0;
    font-weight: 400;
    font-family: $font_texts;
    font-size: 24px;
    line-height: 1.25;
    @media screen and (max-width: $sm) {
      font-size: 18px;
    }
  }
}

.btn {
  width: 260px;
  height: 72px;
  button {
    font-size: 1.2rem;
    cursor: pointer;
    & > div {
      padding: 20px 0;
    }
    @media (max-width: $sm) {
      background-color: $terti;
      color: $dark;
    }
  }
}
