@import "../../styles/varuables.scss";
.card {
<<<<<<< HEAD
  cursor: pointer;
  & > div {
    width: 100%;
    border-radius: 10px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100% !important;
      object-fit: cover;
    }
  }
  .none_border {
    aspect-ratio: 580 / 364;
    // @media (max-width: $md) {
    //   display: none;
    // }
  }
  .with_border {
    aspect-ratio: 580 / 384;
    display: none;
    button {
      width: 100%;
      height: auto;
      & > div {
        padding: 15px;
      }
    }
    // @media (max-width: $md) {
    //   display: block;
    // }
  }
  .show {
    display: block;
  }
  .hide {
    display: none;
  }
  h3 {
    margin: 25px 0 10px;
  }
=======
	cursor: pointer;
	& > div {
		width: 100%;
		height: 100%;
		border-radius: 10px;
		aspect-ratio: 580 / 354;
		overflow: hidden;
		@media (min-width: $xxl) {
			aspect-ratio: 780 / 500;
		}
		img {
			width: 100%;
			height: 100% !important;
			object-fit: cover;
		}
	}
	h3 {
		margin: 25px 0 10px;
	}
>>>>>>> faa3239d1cc328a04eb7283640a308567017a2c5
}
