@import "../../styles/varuables.scss";
.card {
	cursor: pointer;
	& > div {
		width: 100%;
		height: 100%;
		border-radius: 10px;
		aspect-ratio: 580 / 354;
		overflow: hidden;
		@media (min-width: $xxl) {
			aspect-ratio: 780 / 500;
		}
		img {
			width: 100%;
			height: 100% !important;
			object-fit: cover;
		}
	}
	h3 {
		margin: 25px 0 10px;
	}
}
