@import "../../styles/varuables.scss";
.Count {
	padding: 100px 0;
	width: 100%;
	height: auto;
	position: relative;
	overflow-x: hidden;
	.count {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 5%;
		width: 100%;
		height: auto;
		position: relative;
		z-index: 2;
		button {
			padding: 40px 0;
			div {
				h2 {
					font-size: 48px;
					font-family: "Franklin Gothic Medium", "Arial Narrow", Arial,
						sans-serif;
					font-weight: 700;
					sup {
						font-size: 40px;
					}
				}
				p {
					font-size: 20px;
					font-family: $font_texts;
					margin: 10px 0;
				}
			}
		}
	}
}
