@import "../../styles/varuables.scss";

.navbar {
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	gap: 15%;
	justify-content: space-between;
	width: 100%;
	z-index: 100;
	transition: 0.5s;
	min-height: 100px;
	color: var(--color);
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	&_logo {
		width: 14vw;

		object-fit: cover;
	}
	&_linksDiv {
		width: 60%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 5px;
		// border: 1px solid red;
		a {
			text-transform: uppercase;
			font-size: 17px;
			font-weight: 400;
			font-family: $font_titles;
			letter-spacing: 1px;
			padding: 10px 15px;
			// border: 1px solid red;
			width: max-content;
			transition: 0.3s;
			border: none;
			outline: none;
			background: none;
			border-radius: 10px;
			&:hover {
				transition: 0.3s;
				color: $primary;
				box-shadow: 0 -1px 0 0 #bbe4ea, 0 1px 0 0 #bbe4ea;
			}
		}
		div {
			select {
				cursor: pointer;
				background: none;
				border: none;
				text-transform: uppercase;
				font-size: 17px;
				font-weight: 400;
				padding: 10px 15px;
				font-family: $font_titles;
				border-radius: 10px;
				transition: 0.3s;
				&:hover {
					transition: 0.3s;
					color: $primary;
					box-shadow: 0 -1px 0 0 #bbe4ea, 0 1px 0 0 #bbe4ea;
				}
				option {
					background: $light;
					color: $dark;
					cursor: pointer;
					&:hover {
						background: $dark;
						color: $light;
					}
				}
			}
		}
	}
}
