@import "../../styles/varuables.scss";
.ZoneCards {
	padding: 100px 0;
	overflow: hidden;
	h2 {
		margin: 0 0 50px;
	}
	@media (max-width: $lg) {
		padding: 100px 0 0 0;
	}
	@media (max-width: $sm) {
		padding: 0;
	}
	.zoneCards {
		display: flex;
		gap: 4%;
		&::-webkit-scrollbar {
			width: 0;
			height: 0;
		}
		@media (max-width: $xs) {
			overflow-x: scroll;
			padding: 0 4%;
			height: 350px;
			margin-bottom: -50px;
		}
		@media (min-width: $xs) {
			overflow-x: scroll;
			padding: 0 4%;
			height: 310px;
		}
		@media (min-width: $sm) {
			padding: 0 4%;
			height: 380px;
		}
		@media (min-width: $md) {
			height: 400px;
			padding: 0 5%;
		}
		@media (min-width: $lg) {
			height: 450px;
			padding: 0 7%;
		}
		@media (min-width: $xl) {
			padding: 0 9%;
			height: 500px;
		}
		@media (min-width: $xxl) {
			padding: 0 12%;
			height: 600px;
		}
		@media (min-width: $xxxl) {
			padding: 0 15%;
			height: 700px;
		}
		div {
			height: 360px;
			width: 600px;
			@media (max-width: $lg) {
				height: 300px;
				width: 500px;
			}
			@media (max-width: $md) {
				height: 280px;
				width: 400px;
			}
			@media (max-width: $sm) {
				height: 220px;
				width: 350px;
			}
			@media (max-width: $xs) {
				height: 195px;
				width: 319px;
			}
		}
	}
}
